body{
    background-color: rgb(11, 14, 175);
}
header {
    height: 70;
    background-color: rgb(80, 216, 53);
    display: flex; 
   justify-content: space-around;
   align-items: center;
}
h1{
    font-size: 70px;
    text-align: center;
    color: rgb(199, 62, 176)

}
a{
    color: rgb(248, 238, 246);
    text-decoration: none;
}

li{
    display: inline-block;
    font-size: 30px;
    list-style: none;
    margin-left: 2px;
    margin-left: 40px;
}
