body{
    background-color: chocolate;
}
header{
justify-content: space-around;
display: flex;
align-items: center;
background-color: cornflowerblue;
}
ul{
    display: flex;
}
li{
    margin-left: 40px;
    font-size: 20px;
    list-style: none;
}
a{
    color: burlywood;
    text-decoration: none;
}